<div class="container">
    <ul class="nav nav-tabs  mt-2">
        <li class="nav-item">
            <a class="nav-link" (click)="selectedSLegale()">Sede Legale</a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" (click)="selectedSOperativa()">Sede Operativa <span class="badge badge-pill badge-primary">{{this.countSegn}}</span></a>
        </li>
    </ul>

    <!--<ui-view name="component-view"></ui-view> -->

    <!--<div class="tabs-content-container" ui-view="content"/>-->

    <div class="tabs-content-container">
        <!--<ui-view name="component-view"></ui-view>-->
        HELLLO
    </div>

</div>
